<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:pubsub="http://ffan.code.com/schema/pubsub"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
    http://ffan.code.com/schema/pubsub http://ffan.code.com/schema/pubsub/pubsub.xsd
    ">
	<context:component-scan base-package="com.wanda.ffan.sub.listener.annotation" />
	<pubsub:sub id="testSub"
		url="http://10.213.57.148:10192/topics/73/test/v1?group=risk_beacon"
		appId="73" key="0de28842dab146f5b6b726d1d2d93867" />
	<pubsub:http id="testHttp" />
	<bean id="subConsumerFactory" class="com.wanda.ffan.sub.listener.DefaultSubConsumerFactory">
		<constructor-arg ref="testHttp" index="0">
		</constructor-arg>
		<constructor-arg ref="testSub" index="1">
		</constructor-arg>
		<constructor-arg ref="httpClient" index="2">
		</constructor-arg>
	</bean>
	<bean id="subListenerContainerFactory" class="com.wanda.ffan.sub.listener.config.ConcurrentSubListenerContainerFactory">
	<property name="consumerFactory" ref="subConsumerFactory"/>
	</bean>
	
	

	<bean id="httpClientConnectionManager"
		class="org.apache.http.impl.conn.PoolingHttpClientConnectionManager"
		destroy-method="close">
		<!-- 最大连接数 -->
		<property name="maxTotal" value="200" />
		<!-- 设置每个主机地址的并发数 -->
		<property name="defaultMaxPerRoute" value="50" />
	</bean>

	<!-- httpclient对象构建器 -->
	<bean id="httpClientBuilder" class="org.apache.http.impl.client.HttpClientBuilder">
		<!-- 设置连接管理器 -->
		<property name="connectionManager" ref="httpClientConnectionManager" />
		<property name="defaultRequestConfig" ref="requestConfig" />
	</bean>
	<!-- 定义Httpclient对象 -->
	<bean id="httpClient" class="org.apache.http.impl.client.CloseableHttpClient"
		factory-bean="httpClientBuilder" factory-method="build" />
	<bean id="requestConfigBuilder" class="org.apache.http.client.config.RequestConfig.Builder">
		<!-- 创建连接的最长时间 -->
		<property name="connectTimeout" value="100" />
		<!-- 从连接池中获取到连接的最长时间 -->
		<property name="connectionRequestTimeout" value="500" />
		<!-- 数据传输的最长时间 -->
		<property name="socketTimeout" value="10000" />
		<!-- 提交请求前测试连接是否可用 -->
		<property name="staleConnectionCheckEnabled" value="true" />
	</bean>
	<!-- 定义请求参数 -->
	<bean id="requestConfig" class="org.apache.http.client.config.RequestConfig"
		factory-bean="requestConfigBuilder" factory-method="build" />
</beans>